# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="sua_url_aqui"
SUPABASE_URL="sua_url_aqui"
SUPABASE_SERVICE_ROLE="sua_url_aqui"

# JWT

JWT_SECRET="uma-chave-secreta-qualquer-por-agora"
JWT_EXPIRES_IN="tempo"
REFRESH_TOKEN_EXPIRES_IN_DAYS="numero_de_dias"

# Sensor

ESP32_API_KEY="chavezinha-legal"

# Porta do servidor

PORT=40028922

# Modo de desenvolvimento ou produção

NODE_ENV="DEVELOPMENT|PRODUCTION"

# Credenciais MQTT

MQTT_URL=url_do_hiveqm
MQTT_USER=seu_usuario_do_hivemq
MQTT_PASS=sua_senha_do_hivemq